<% include ../partials/header %>
    <div class="container">
        <form action="/treks/<%= trek._id%>/comments/<%= comment._id%>?_method=PUT" method="POST">
            <input type="text" name="comment[content]" value="<%=comment.content%>">
            <button class="btn btn-outline-primary">Submit!</button>
        </form>
    </div>
<% include ../partials/footer %>