<% include partials/header %>
<br>
<%if(errors){%>
<div>
    <% errors.forEach(function(error){%>
        <%= error%>
    <%})%>
</div>
<%}%>
<form action="/login" method="POST">
    <input class="form-control" type='email' name="user[email]" placeholder="Username">
    <input class="form-control" type='password' name="user[password]" placeholder="Password">
    <button class="form-control btn bton-theme">Sign In</button>
</form>
<% include partials/footer %>