<% include partials/header %>
    <div>
        <p>
            <%= pic.name %>
        </p>
    </div>
    <div>
        <img src="<%= pic.image %>">
    </div>
    <div>
        <%= pic.description %>
    </div>
    <% include partials/footer %>