<% include partials/header %>
    <div class="container">
        <div class="row" style="display:flex; flex-wrap:wrap;">
            <% treks.forEach(function(trek){%>
                <div class="col-md-3 col-sm-6">
                    <trekture>
                        <img src="<%=trek.image%>" class="img-fluid img-thumbnail">
                    </trekture>
                    <div class="figure-caption text-right">
                        <h4><%=trek.name%></h4>
                    </div>
                    <a href="treks/<%= trek._id %>"><button class="btn btn-outline-primary">More Info</button></a>
                </div>

            <%});%>
        </div>
    </div>
<% include partials/footer %>