.bton-theme {
    color: #3bdf5f;
    background-color: transparent;
    background-image: none;
    border-color:  #6eff8e;
}

.bton-theme:hover{
    color: black;
    background-color:#6eff8e ;
    background-image: none;
    border-color:  #6eff8e;
}

.Toggler{
    color:rgb(0,0,0,0.5);
}

.Toggler:hover{
    background-color: #6eff8e;
    color:rgb(0,0,0,0.75);
}