.bton-theme {
    color: #3bdf5f;
    background-color: transparent;
    background-image: none;
    border-color:  #6eff8e;
}

.bton-theme:hover{
    color: black;
    background-color:#6eff8e ;
    background-image: none;
    border-color:  #6eff8e;
}

.Toggler{
    color:rgb(0,0,0,0.5);
}

.Toggler:hover{
    background-color: #6eff8e;
    color:rgb(0,0,0,0.75);
}
.auth-form{
    margin:20px auto;
    padding: 10px;
    max-width: 500px;
    align-content: center;
}
#map {
        margin-top:20px;
        height: 150px;  
        width: 100%; 
}

@media(min-width:767px){
    #map{
    margin-top: 0px;
    height: 100%; 
    }
}